{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div class="row">

        <div class="col-12 col-md-2">
            <div class="footer-company-name pt-4 font-weight-bold text-color-light text-3">
            {{ site_name }} 
            </div>
            <div class="footer-message caption">
                {{ site_slogan }}
            </div>
        </div>

          {{ content }}
        <div class="col-6 col-sm-6  float-left">
            <div class="footer-copyright mt-4 mb-4 caption text-color-light">
            <p> © {{ 'now' | date('Y') }} All Rights Reserved</p>
            </div>
        </div>

        <div class="col-6 col-sm-6 footer-minimal">
            <div class="footer-social a-light float-right mb-4 mt-4">
                {# Social #}
			    {{ dupela_icon_navigation }}
            </div>
        </div>
    </div>
{% endif %}